.App {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(155, 154, 154);
}
.btn.btn-primary{
  background-color: rgb(187, 152, 107);
  border-color: rgb(187, 152, 107);
}

.btn.btn-primary:hover{
  background-color: rgb(168, 136, 94);
  border-color: rgb(168, 136, 94);
}

#compare-row{
  gap: 3%;
}

.container-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-row{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer{
  margin-top: 2%;
  color: white;
  background-color: rgb(168, 136, 94);
  width: 100%;
}


.grid-container{
  display: grid;
  align-self: center;
  grid-template-columns: repeat(6, 15vh);
  grid-gap: 10px;
}

.grid-container > .button{
  display:inline-block;
  color:#ffffff;
  border:1px solid rgb(9, 96, 63);
  background:rgb(7, 78, 51);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor:pointer;
  vertical-align:middle;
  width: auto;
  padding: 5px;
  text-align: center;
  border-radius: 2%;
}

.grid-container > .button:hover{
  background-color: rgb(6, 59, 39)
}

.grid-container > .button > img{
  display: block;
  width: 100%;
  max-height: 100%;
  border-radius: 2%;
}

.header{
  background-color: rgb(6, 59, 39);
  color: white;
  width: 100%;
}

.playercard{
  display:inline-block;
  color:#ffffff;
  border:1px solid rgb(9, 96, 63);
  background:rgb(7, 78, 51);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor:pointer;
  vertical-align:middle;
  width: 20%;
  padding: 5px;
  text-align: center;
  border-radius: 2%;
  justify-items: center;
}


.stats-headshot{
  display: block;
  width: 100%;
  max-height: 100%;
  border-radius: 2%;
}

#statline{
  background-color: rgb(81, 81, 81);
  color: white;
}





