.App {
  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  min-height: 100vh;
}



.grid-container{
  display: grid;
  align-self: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;

  min-height: fit-content;
  
}

.grid-container > button {
  display: block;
  width: auto;
  color: white;
  background-color: rgb(80, 80, 80);
}

.grid-container > button > img{
  height: 30%;
  width: auto;
  display: block;
  justify-self: center;
}

footer{
  color: white;
  background-color: grey;
  width: 100%;
}

